<div id="main">
  <h2>Found <span id="result-count"></span> results
  for <span class="green" id="term"></span>:</h2>
  <div class="row">
    <div class="col-md-8">
      <ul class="search-results" id="results">
        <li class="hit">
          <div>
            <p>
              <a class="hit-name">
                hit name
              </a>
              <span class="hit-namespace">hit namespace</span>
              <span class="versions">
                  <a class="version"></a>
              </span>
            </p>
            <p><pre class="hit-doc"></pre></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="evrythng"></div>
</div>
