<div id="main">

  <div class="row">
    <div class="title">
      <h1 class="blue var"></h1>
    </div>
  </div>
  
  <div class="row">
    <div class="var-summary">
      <div class="arg-list col-md-6">
        <ul id="arglist">
          <li class="args"></li>
        </ul>
      </div>
      <div class="col-md-5">
        <div class="namespace pull-right">
          <ul>
            <li>
              <a id="project"></a>
            </li>
            <li>
              <a id="version"></a>
            </li>
            <li>
              <a id="namespace"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="doc-string col-md-9">
      <pre id="doc"></pre>
    </div>
  </div>
  
  
  <div class="row">
    <div class="source col-md-9"> 
      <a id="source-link">Source</a>
      <pre id="source"></pre>
    </div>
  </div>
  
  <div class="row">
    <div class="examples col-md-9">
      <a id="examples-link">Examples</a>
      <div id="examples">
        <div class="example">
          <pre></pre>
        </div>
      </div>
    </div>
  </div>

</div>
